@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
    --animate-back-and-forth: backAndForth 1.5s linear infinite alternate;
    @keyframes backAndForth {
        0% {
            width: 0%;
            margin-left: 0;
        }
        50% {
            width: 100%;
            margin-left: 0;
        }
        100% {
            width: 0%;
            margin-left: 100%;
        }
    }
}
